%footer#contact
	%section#location
		%h1 Location
		%p Tarwelaan 56A, 5632 KG
		%p Eindhoven, The Netherlands
		%iframe{:allowfullscreen => "", :height => "300", :loading => "lazy", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.96665737334!2d5.492423315438696!3d51.47712632073769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6df299fd97b57%3A0xaba2c751adf603a3!2sTarwelaan%2056A%2C%205632%20KG%20Eindhoven%2C%20Netherlands!5e0!3m2!1sen!2scz!4v1627422656916!5m2!1sen!2scz", :style => "border:0;", :width => "400"}
	%section#contact-info
		%h1 BK Patterns of Work
		%p= contact_email
		#contact-icons
			%a{:href => "mailto: #{contact_email}"}
				%img{:alt => "Send email", :src => "img/email-icon.svg"}/
			%a{:href => "#{facebook_link}"}
				%img{:alt => "Send email", :src => "img/facebook-icon.svg"}/
		%h3 Curated by
		%p Stef Fridael
		%h3 Organized by
		%p Olivier van den Brandt
		%p Carlos Gonzalez Moreno
		%h3 Partners
		%p Cultuur Eindhoven
		%p Gallery Feuerwache in Loschwitz Dresden
		%p Gallery ART FACTORY FLOX Kirschau
		%p Wanted Candy
		%p Stichting Zesde Kolonne
		%p T56
	%section#contact-other-info
		#partner-icons
			%img{:alt => "Cultuur Eindhoven", :src => "img/cultuur_eindhoven_logo.png"}/
			%img{:alt => "Galerie nEUROPA", :src => "img/gallery_neuropa_logo.jpg"}/
			%img{:alt => "Wanted Candy", :src => "img/wanted_candy_logo.jpg"}/
			%img{:alt => "Stichting Zesde Kolonne", :src => "img/kolonne_logo.jpg"}/
			%img{:alt => "T56", :src => "img/T56_logo.jpg"}/
		%p BK Patterns of Work @ 2021
		%p Website designed & made by Anthony Tsang