!!!
%html{:lang => "en"}
	%head
		= meta
		%title BK Patterns of Work
		%link{:href => "css/font.css", :rel => "stylesheet"}/
		%link{:href => "css/style.css", :rel => "stylesheet"}/
		%link{:href => "css/footer.css", :rel => "stylesheet"}/
		%script{:src => "js/index.js", :type => "module"}
	%body
		%nav
			#nav-bar
				%p#article-name
				%input#menu-button{:src => "img/menu_button.svg", :type => "image"}/
			.nav-dropdown
				- nav_items.each do |nav_item|
					%a{:href => nav_item[1]}= nav_item[0]
				
		%p#slogan= slogan
		%main
			%article#home
				%button#swipe-down-btn
					%p Swipe down
					%img{:src => "img/swipe_down_icon.svg"}/
			
			= introduction
			= livestream
			= residency

			%article#projects
				= patterns_of_work
				= everything_personal
				= levitation
				= wanted_candy

			= mission

			= footer