%article{id: article_id}

	- if defined? article_img_background
		%img.article-image-background{:src => "img/articles-img/#{article_img_background}"}
	%h3= subtitle
	%h1= title
	- if defined? article_img
		%img.article-image{:src => "img/articles-img/#{article_img}"}

	- if defined? livestream_link
		%iframe#livestream-embed{:allow => "autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share", :allowfullscreen => "true", :frameborder => "0", :scrolling => "no", :src => livestream_link, :style => "border:none;overflow:hidden"}

	- article_infos.each do |p|
		%p.article-info-paragraph= p

	- article_roleplay_texts.each do |p|
		%p.article-roleplay-paragraph= p
	
	- if defined? learn_more_link
		/ Only for project articles
		%a.learn-more-btn{:href => learn_more_link} Learn more