%article{:id => "introduction"}
	%div.logo
		%img{:src => "img/POW_BK_icon.png"}
		%h3 BerichtenKantoor Patterns of Work
	%p.article-roleplay-paragraph 
		Modular program from 11 September 2021 to 25 December 2021. Located in T56, Eindhoven - The Netherlands. Check our
		%a{:href => "https://www.facebook.com/BK-Presents-Patterns-of-Work-105827408450773", :title => "Patterns of Work fb event" } Facebook
		for all upcoming events. Here you can find all information about our upcoming program “Patterns of Work”.<br>In the name of the POW and our Chairman Pigé, we welcome you to the regional “Berichten Kantoor of the POW”, in short BK-POW.