%meta{:charset => "UTF-8"}/
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:content => "Anthony Tsang", :name => "author"}/
%meta{:content => homepage_description, :name => "description"}/
%link{:href => "img/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
%meta{:content => "BK Patterns of Work", :property => "og:title"}/
%meta{:content => homepage_description_og, :property => "og:description"}/
%meta{:content => "http://www.patternsofwork.nl", :property => "og:url"}/
%meta{:content => "BK Patterns of Work", :property => "og:site_name"}/
%meta{:content => "http://www.patternsofwork.nl/image/og-img", :property => "og:image"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "image/png", :property => "og:image:type"}/
%meta{:content => "300", :property => "og:image:width"}/
%meta{:content => "300", :property => "og:image:height"}/