!!!
%html{:lang => "en"}
	%head
		= meta
		%title BK Patterns of Work
		%link{:href => "css/font.css", :rel => "stylesheet"}/
		%link{:href => "css/style.css", :rel => "stylesheet"}/
		%link{:href => "css/footer.css", :rel => "stylesheet"}/
		%script{:src => "js/projectpage.js", :type => "module"}
	%body{:style => "background: url(#{background_img}) repeat-x top fixed;background-size: cover;"}
		%nav
			#nav-bar
				%p#article-name
				%input#menu-button{:src => "img/menu_button.svg", :type => "image"}/
			.nav-dropdown
				- nav_items.each do |nav_item|
					%a{:href => nav_item[1]}= nav_item[0]

		%main
			%article
				= project_content

			= footer