footer {
	position: relative;
	width: calc(100vw - 6px);
	height: fit-content;
	background-color: #C63232;
	color: white;
	border: 3px solid black;
	box-sizing: content-box;
	padding-bottom: 15vh;
}

footer p, footer h1, footer h3 {
	text-align: center;
}

footer h1 {
	font-size: 7vh;
	padding-top: 5vh;
	margin: 0;
}

footer h3 {
	margin: 1.5em 0 .5em 0;
}

footer p {
	font-weight: normal;
	margin: 0;
}

#location > h1 {
	margin-bottom: .5em;
}

#location > iframe {
	display: block;
	width: 100%;
	height: 40vh;
	margin-top: 1.5em;
}

#contact-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: fit-content;
	margin-top: 1em;
}

#contact-icons > a > img {
	margin: 0 5px;
	height: 5vh;	
}

#partner-icons {
	display: flex;
	flex-direction: row;
	place-content: space-evenly;
	place-items: center;
	width: 90vw;
	margin: 5vh 5vw;
	background-color: white;
	border: 3px solid black;
}

#partner-icons > img {
	width: 19%;
	height: fit-content;
}

@media screen and (min-width: 1000px) {
	footer {
		padding-top: 3vh;
		display: grid;
		grid-template-columns: [left] 1fr [x-middle] 1fr [right];
		grid-template-rows: [top] auto [y-middle] auto [bottom];
	}

	#location {
		grid-column: left / x-middle;
		grid-row: top / y-middle;
	}

	#location > iframe {
		width: 70%;
		margin: 1.5em auto 0 auto;
	}

	#contact-info {
		grid-column: x-middle / right;
		grid-row: top / y-middle;
	}

	#contact-other-info {
		grid-column: left / span 2;
		grid-row: y-middle / bottom;
	}
}