html {
	font-family: 'roadgeek_2005';
	font-size: 20px;
	background-color: hsl(0, 60, 49);
	overflow: hidden;
}

body {
	background: url(../img/POW_flag.png) no-repeat top fixed, url(../img/background.svg) repeat-x center center fixed;
	background-size: auto 100vh, auto 100vh;
	overflow: hidden;
}

h1 {
	font-family: 'bebas_neue';
	font-size: 10vh;
}

h3 {
	font-weight: lighter;
	font-size: 23px;
}

p {
	font-size: 20px;
}

a {
	color: hsl(0, 60, 49);
}

nav {
	z-index: 2;
}

#nav-bar {
	font-size: 30px;
	position: fixed;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	bottom: 0%;
	left: 0%;
	height: 10%;
	width: 100vw;
	background-color: white;
	padding: 5px 20px;
	box-sizing: border-box;
	border-top: 3px solid black;
}

#article-name {
	font-size: 5vh;
	white-space: nowrap;
}

		#menu-button {
			height: 30px;
			margin-left: 3vw;
		}

		.nav-dropdown {
			position: fixed;
			opacity: 0;
			display: block;
			height: 2em;
			width: 70%;
			right: 0%;
			top: 90%;
			font-size: 30px;
			border-bottom: none;
			z-index: -1;
			transform: translateY(6px);
		}

		.nav-dropdown > a {
			display: flex;
			position: absolute;
			right: 0%;
			bottom: 0%;
			width: 100%;
			height: 2em;
			text-decoration: none;
			flex-direction: column;
			justify-content: center;
			border: 3px solid black;
			background-color: white;
			padding-left: 10%;
			white-space: nowrap;
			transition: bottom linear calc(500ms / var(--nav-items-count) );
		}

		.nav-dropdown > a:link, .nav-dropdown > a:visited {
			color: black;
		}

		.nav-dropdown > a:active {
			background-color: black;
			color: white;
		}

		.nav-dropdown > a:hover {
			background-color: rgb(116, 116, 116);
			color: white;
		}
		
		.nav-dropdown > a.nav-is-viewing {
			background-color: black;
			color: white;
		}

	.show-dropdown-items {
		transform: translateY(0%) !important;
	}
		
#home {
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

#slogan {
	position: fixed;
	top: 57%;
	left: 50%;
	width: fit-content;
	transform: translateX(-50%);
	text-align: center;
	font-family: 'bebas_neue';
	margin: 0%;
	font-size: 30px;
	z-index: -3;
}

#swipe-down-btn {
	display: block;
	position: absolute;
	bottom: 20vh;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	cursor: pointer;
	animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#swipe-down-btn > p {
	font-weight: bold;
	font-size: 20px;
	margin: 20px 0;
}

#swipe-down-btn > img {
	width: 20%;
}

main {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	z-index: -3;
	scroll-behavior: smooth;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 500px;
}

main article {
	position: relative;
	z-index: -2;
}

main article:not(#home):not(#projects) {
	background-color: white;
	border: 3px solid black;
	margin: 15vh 5%;
	padding-bottom: 13vh;
}

main article > h1 {
	margin: 0% 10% 2% 10%;
}

main article > h3 {
	margin: 10vh 10% 0% 10%;

}

main article > p, main article > a {
	margin: 3% 10% 0 10%;
}

#livestream-embed {
	width: 100%;
	height: 30vh;
	font-size: 10px;
	cursor: default;
}

.article-image {
	max-height: 40vh;
	width: 100%;
	background-color: black;
	box-sizing: border-box;
	object-fit: contain;
}

.article-image-background {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 60vh;
	filter: brightness(60%);
	object-fit: cover;
}

.article-image-background + h3 {
	position: absolute;
	top: calc(60vh - 5em);
	left: 0%;
	margin: 0% 10%;
	color: white;
	font-size: 30px;
	z-index: 1;
}

.article-image-background + h3 + h1 {
	position: absolute;
	top: 0%;
	left: 0%;
	font-size: 10vh;
	margin: 10vh 10%;
	color: white;
	z-index: 1;
}

.article-info-paragraph {
	font-weight: lighter;
	font-size: 22px;
}

.article-roleplay-paragraph {
	font-weight: normal;
	font-size: 20px;
}

main article > a.learn-more-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 1em;
	width: 6em;
	font-weight: bolder;
	text-decoration: none;
	border: 3px solid black;
	background-color: black;
	margin-top: 10%;
	padding: 1em;
	box-sizing: content-box;
	border-radius: 5%;
	color: white;
}

main article > a.learn-more-btn:active {
	color: black;
	border: 3px solid black;
	background-color: white;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10vh 0 5% 0;
	height: fit-content;
}

		.logo > img {
			height: 7em;
			width: auto;
		}
		.logo > h3 { margin: unset;}

@media screen and (min-width: 1000px) {
  main article:not(#home):not(#projects) {
		margin: 15vh 20%;
		padding-bottom: 8vh;
	}

	#article-name, #menu-button {
		display: none;
	}

	#nav-bar {
		overflow: hidden;
	}

	.nav-dropdown {
		position: absolute;
		display: inline-flex;
		justify-content: space-evenly;
		opacity: 1;
		top: 0;
		left: 0;
		width: 100vw;
		transform: translateY(0px);
	}

	.nav-dropdown > a {
		position: static;
		width: unset;
		padding: 3px 2vw;
		border: none;
	}
}